[Unit]
Description=Music App
After=network.target
Documentation=http://github.com/ngonzalez

[Service]
Type=simple
WorkingDirectory=/home/$APP_USER/music-app
ExecStart=bundle exec puma -C config/puma.rb -e production -b unix:///tmp/puma.sock
EnvironmentFile=/home/$APP_USER/music-app/environment.sh
PIDFile=/home/$APP_USER/music-app/tmp/pids
TimeoutStopSec=0
Restart=always
User=$APP_USER
Group=$APP_USER
RuntimeDirectory=music-app
RuntimeDirectoryMode=2755
UMask=007
PrivateTmp=yes
LimitNOFILE=65535
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWritePaths=-/var/lib/music-app
ReadWritePaths=-/var/log/music-app
ReadWritePaths=-/var/run/music-app

[Install]
WantedBy=multi-user.target
Alias=music-app.service
