[Unit]
Description=Music App
After=network.target
Documentation=http://github.com/ngonzalez

[Service]
Type=simple
WorkingDirectory=/var/www/music-app
ExecStart=/usr/bin/bundle2.7 exec puma -C config/puma.rb -e production -b unix:///tmp/puma.sock
EnvironmentFile=/etc/music-app.conf
PIDFile=/var/www/music-app/tmp/pids/server.pid
TimeoutStopSec=0
Restart=always
User=debian
Group=debian
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
Alias=music-app.service
