[Unit]
Description=Sunspot Solr
After=network.target
Documentation=http://github.com/ngonzalez

[Service]
Type=simple
WorkingDirectory=/var/www/music-app
ExecStart=/usr/bin/bundle2.7 exec sunspot-solr start -p 8982
PIDFile=/var/www/music-app/tmp/pids/sunspot-solr.pid
TimeoutStopSec=0
Restart=always
User=debian
Group=debian
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
Alias=sunspot-solr.service
