html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}
small {
  font-size: 12px;
}
ul {
  list-style-type: none;
}
ul li a :hover {
  text-decoration: none;
}
div.ui-page {
  background-attachment: fixed;
  background-color: #FFF; 
  background-image: 
  linear-gradient(90deg, transparent 120px, rgba(171, 206, 212, 0.4) 120px, rgba(171, 206, 212, 0.3) 122px, transparent 122px),
  linear-gradient(rgba(50, 50, 50, 0.05) .05em, transparent .1em);
  background-size: 100% 1.3em;
  color: #000;
}
div.clear {
  clear: both;
}
i.fa-4 {
  font-size: 45px;
}
i.fa-3 {
  font-size: 30px;
}
div.polaroid-images a {
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
}
div.footer {
  margin: 20px;
}
ol.search .label-primary,
ol.search .label-info,
ol.search .badge {
  opacity: 0.7;
}
ol.search .label-default {
  background-color: rgba(71, 164, 70, 0.5);
}
ol.search .label-success {
  background-color: rgba(65, 191, 63, 0.7);
}
ol.search .label a,
ol.search .label a:hover,
ol.search .label a:visited {
  color: #FFF;
  text-decoration: none;
}
ol.search span.link {
  margin: 0 10px;
  vertical-align: middle;
}
div.back div.row {
  margin: 20px 0;
}
div.images {
  padding: 0 20px;
}
div.images div.row {
  margin: 20px;
}
div.tracks {
  margin: 0 0 70px 0;
}
div.tracks div.row {
  padding: 5px;
}
div.tracks div.row.odd:hover,
div.tracks div.row.even:hover {
  background-color: rgba(143, 152, 172, 0.15);
}
div.tracks div.row.odd {
  background-color: rgba(89, 89, 89, 0.05);
}
div.tracks div.row.even {
  background-color: rgba(216, 216, 216, 0.05);
}
div.tracks div.badge.duration,
div.tracks div.badge.year {
  font-weight: normal;
  margin: 7px 0;
  background-color: rgba(120, 120, 120, 0.05);
  color: #000;
  box-shadow: 0 2px 5px rgba(50, 50, 50, 0.20);
}
div.tracks i.fas,
div.tracks i.fab {
  padding: 5px;
}
div.tracks i.fas.disabled,
div.tracks i.fab.disabled {
  color: #444;
}
