.margin-20 {
  margin: 20px;
}
.margin-10 {
  margin: 10px;
}
.shadow-light {
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.4);
}
ul li a :hover {
  text-decoration: none;
}
ul li.img {
  display: inline;
}
i.grey {
  color: #DDD;
}