ul li a :hover {
  text-decoration: none;
}
i.grey {
  color: #DDD;
}
i.grey-dark {
  opacity: 0.95;
}
.red {
  color: deeppink;
}
.margin-20 {
  margin: 20px;
}
.margin-10 {
  margin: 10px;
}
.polaroid-images a {
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
}
.tracks {
  margin-bottom: 100px;
}
#video-content {
  height: 200px;
}
.spacer {
  display: block;
  height: 10px;
}