/*
  Animation
*/
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
}

@mixin animation-timing-function($timing-function) {
  -webkit-animation-timing-function: $timing-function;
     -moz-animation-timing-function: $timing-function;
       -o-animation-timing-function: $timing-function;
          animation-timing-function: $timing-function;
}

@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count: $iteration-count;
     -moz-animation-iteration-count: $iteration-count;
       -o-animation-iteration-count: $iteration-count;
          animation-iteration-count: $iteration-count;
}

@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}

@mixin animation-fill-mode($direction) {
  -webkit-animation-fill-mode: $direction;
     -moz-animation-fill-mode: $direction;
       -o-animation-fill-mode: $direction;
          animation-fill-mode: $direction;
}

/*
  Animation: Pulsate
*/
@include keyframes(change_opacity) {
  to {
    opacity: 0.0;
  }
}

@mixin pulsate($time) {
  @include animation-name(change_opacity);
  @include animation-duration($time);
  @include animation-iteration-count(infinite);
  @include animation-direction(alternate);
  @include animation-timing-function(ease-in-out);
}

.pulsate {
  @include pulsate(0.4s);
}

/*
  Transform: Rotate
*/
@mixin transform-rotate($value) {
  -webkit-transform: rotate(#{$value}deg);
     -moz-transform: rotate(#{$value}deg);
      -ms-transform: rotate(#{$value}deg);
       -o-transform: rotate(#{$value}deg);
          transform: rotate(#{$value}deg);
}

@include keyframes(spin_5) {
  0% {
    @include transform-rotate(0);
  }
  100% {
    @include transform-rotate(5);
  }
}

@mixin rotate_5($time) {
  @include animation-name(spin_5);
  @include animation-duration($time);
  @include animation-iteration-count(1);
  @include animation-direction(alternate);
  @include animation-timing-function(linear);
  @include animation-fill-mode(forwards);
}

.rotate-5 {
  @include rotate_5(0.3s);
}

@include keyframes(spin_m5) {
  0% {
    @include transform-rotate(0);
  }
  100% {
    @include transform-rotate(-5);
  }
}

@mixin rotate_m5($time) {
  @include animation-name(spin_m5);
  @include animation-duration($time);
  @include animation-iteration-count(1);
  @include animation-direction(alternate);
  @include animation-timing-function(linear);
  @include animation-fill-mode(forwards);
}

.rotate-m5 {
  @include rotate_m5(0.3s);
}

@include keyframes(spin_2) {
  0% {
    @include transform-rotate(0);
  }
  100% {
    @include transform-rotate(2);
  }
}

@mixin rotate_2($time) {
  @include animation-name(spin_2);
  @include animation-duration($time);
  @include animation-iteration-count(1);
  @include animation-direction(alternate);
  @include animation-timing-function(linear);
  @include animation-fill-mode(forwards);
}

.rotate-2 {
  @include rotate_2(0.2s);
}

@include keyframes(spin_m2) {
  0% {
    @include transform-rotate(0);
  }
  100% {
    @include transform-rotate(-2);
  }
}

@mixin rotate_m2($time) {
  @include animation-name(spin_m2);
  @include animation-duration($time);
  @include animation-iteration-count(1);
  @include animation-direction(alternate);
  @include animation-timing-function(linear);
  @include animation-fill-mode(forwards);
}

.rotate-m2 {
  @include rotate_m2(0.2s);
}