.container

  = form_tag search_music_index_path, method: :get do
    = hidden_field_tag :rows, 1000000
    .form-group
      .col-md-5
        = text_field_tag :q, params[:q], class: 'form-control'
      .col-md-5
        %button.btn.btn-default{ type: "submit" } Search

  .clear

  %ol
    - @tracks.each do |release_id, infos|
      %li
        %strong= link_to highlight(infos[:name].split("_").join(" "), params[:q]),      |
                         music_path(release_id, params.slice("format", "q", "rows")),   |
                         { "data-transition" => "none" }                                |
