- @release.each do |track|
  .row
    %ol{ style: "list-style-type: none; margin: 20px 0" }
      - track.each do |k, v|
        - if k == :path
          %li= link_to "URL", track[:path]
        - else
          %li
            = k
            %strong
              = v
