html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}
small {
  font-size: 12px;
}
.badge {
  font-size: 12px !important;
}
.ui-page {
  background-attachment: fixed;
  background-color: #FFF; 
  background-image: 
    linear-gradient(90deg, transparent 120px, rgba(171, 206, 212, 0.4) 120px, rgba(171, 206, 212, 0.3) 122px, transparent 122px),
    linear-gradient(rgba(50, 50, 50, 0.05) .05em, transparent .1em);
  background-size: 100% 1.3em;
  color: #000;
}
.clear {
  clear: both;
}
ol, ul {
  margin: 20px 0 !important;
}
ol {
  font-size: 20px !important;
}
ul {
  list-style-type: none;
}
i.fa-4 {
  font-size: 50px !important;
}
.label-as-badge {
  border-radius: 1em;
  margin-right: 5px;
}
.label-as-badge a,
.label-as-badge a:hover,
.label-as-badge a:visited {
  color: #FFF;
  text-decoration: none;
}
.label-primary {
  margin-right: 5px;
}
.label-primary a {
  color: #FFF !important;
  text-decoration: none;
}
video {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 100px;
}
video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important;
}