html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}
small {
  font-size: 12px;
}
.ui-page {
  background-attachment: fixed;
  background-color: #FFF; 
  background-image: 
  linear-gradient(90deg, transparent 120px, rgba(171, 206, 212, 0.4) 120px, rgba(171, 206, 212, 0.3) 122px, transparent 122px),
  linear-gradient(rgba(50, 50, 50, 0.05) .05em, transparent .1em);
  background-size: 100% 1.3em;
  color: #000;
}
.margin-20 {
  margin: 20px;
}
.margin-10 {
  margin: 10px;
}
.polaroid-images a {
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
}
.label-primary, .label-info, .badge {
  opacity: 0.7;
}
.label-default {
  background-color: rgba(71, 164, 70, 0.5);
}
.label-success {
  background-color: rgba(65, 191, 63, 0.7);
}
.label a,
.label a:hover,
.label a:visited {
  color: #FFF;
  text-decoration: none;
}
.clear {
  clear: both;
}
ul {
  list-style-type: none;
}
ul li a :hover {
  text-decoration: none;
}
i.fa-4 {
  font-size: 45px;
}
i.fa-3 {
  font-size: 30px;
}
div.row ul {
  margin: 20px 0;
}
div.row.odd {
  background-color: rgba(89, 89, 89, 0.05);
}
div.row.even {
  background-color: rgba(216, 216, 216, 0.05);
}
div.badge.duration {
  margin-bottom: 10px;
}
span.search_link {
  margin: 0 10px;
  vertical-align: -webkit-baseline-middle;
}
div.tracks div.row:last-child {
  padding-bottom: 70px;
}