:javascript

    (function($) {
        $(function() {
            function set_progress(value) {
                $('#progress-bar').attr('aria-valuenow', value);
                $('#progress-bar').css('width', value + '%');
            }

            function display_file(item) {
                $('#files').append($('<hr />'));
                $('#files').append(item.response.created_at);
                $('#files').append(
                    $('<a />')
                        .attr('target', 'blank')
                        .attr('href', item.response.media)
                        .html(item.response.file_name)
                );
            }

            $(document).ready(function() {
                $('#Filedata').change(function(e) {
                    $(e.target).sendFilesProxy('send', {
                        name: 'upload',
                        url: 'http://#{HOST_NAME}/uploads',
                        type: 'POST',
                        progress: function(item) {
                            set_progress(parseInt(item.counter / item.total_files * 100))
                            display_file(item);
                        }
                    });
                });
            })

        });
    })(jQuery);
