:javascript

    (function($) {
        $(function() {
            function upload_files(options) {
                send_files($.extend({
                    url: "http://#{HOST_NAME}/uploads",
                    type: "POST",
                    complete: function() {
                        if (options.complete) options.complete()
                    },
                    error: function(textStatus, errorThrown) {
                        console.log(textStatus + ": " + errorThrown);
                    },
                    progress: function(item) {
                        if (options.callback) options.callback(item);
                    }
                }, options));
            }

            function set_progress(value) {
                $('#progress-bar').attr('aria-valuenow', value);
                $('#progress-bar').css('width', value + '%');
            }

            $(document).ready(function() {
                $("#Filedata").change(function(e) {
                    upload_files({
                        input_id: $(e.target).attr("id"),
                        name: 'upload',
                        complete: function() {
                            set_progress(0);
                        },
                        callback: function(item) {
                            set_progress(parseInt(item.counter / item.total_files * 100))
                            $('body').append($('<hr />'));
                            $('body').append(item.response.created_at);
                            $('body').append(
                                $('<a />')
                                    .attr('target', 'blank')
                                    .attr('href', item.response.media)
                                    .html(item.response.file_name)
                            );
                        }
                    });
                });
            })

        });
    })(jQuery);
